<p>You are using named yields. Here are examples how to use them:</p>
<% content_for :head do -%>
  <script></script>
<% end -%>
<% content_for :last do -%>
  <div id="lastUpdated">
		  <h2 style="margin-top:17px">Recent Entries</h2>
		  <ul>
			 <li><a href="#">Recent Entries1</a> <i>01 Des 06</i></li>
			 <li><a href="#">Recent Entries2</a> <i>01 Des 06</i></li>
			 <li><a href="#">Recent Entries3</a> <i>01 Des 06</i></li>
			 <li><a href="#">Recent Entries4</a> <i>01 Des 06</i></li>
			 <li><a href="#">Recent Entries5</a> <i>01 Des 06</i></li>
		 </ul>
		</div>
<% end -%>

<% content_for :menu do -%>
  <div id="menu">
  <ul id="nav">
 	 <li><a href="#Home">Home</a></li>
	 <li><a href="#Archive">Archive</a></li>
	 <li><a href="#Link">Links</a></li>
	 <li><a href="#download">Download</a></li>
	 <li><a href="#support">Support</a></li>
	 <li><a href="#contact">Contact</a></li>
  </ul>
 </div>
<% end -%>



<!-- original body content -->
<h2>Welcome to LoadFoO [V1]</h2>
<p>Text Content Text <a href="#">Content Text</a> Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content.</p>
 <ul>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 </ul>
 <h2>Functionality or performance</h2>
 <p>Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content.
 </p>
