<div id="lastUpdated">
<div class="box">
  <h2 style="margin-top:17px">Last updated</h2>
	<ul>
      <% if current_user %>
		    <% for contact in @last_updated_contacts %>
          <li><%= link_to h("#{contact.first_name} #{contact.surname}"), contact_path(contact.id) %></li>
        <% end %>   
      <% end %> 
	</ul>
</div>
</div>
