<div id="menu">
  <ul id="nav">
 	 <li><a href="#Home">Home</a></li>
	 <li><a href="#Archive">Archive</a></li>
	 <li><a href="#Link">Links</a></li>
	 <li><a href="#download">Download</a></li>
	 <li><a href="#support">Support</a></li>
	 <li><a href="#contact">Contact</a></li>
  </ul>
 </div>