<div id="tags">
<div class="box">
  <h2 style="margin-top:17px">Tags</h2>
      <% if current_user %>
		   <% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
          <%= link_to name, contacts_path(:tag => name), :class => css_class %>
       <% end %>

      <% end %> 
</div>
</div>


